<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book list</title>
  </head>
  <body>
    <h1>Book List</h1>
    <ul>
      <li>Habitos atomicos</li>
      <li>El sutil arte de que te importe un carajo</li>
      <li>Vendes o vendes</li>
      <li>Los secretos de la mente millonaria</li>
    </ul>
  </body>
</html>
